
/* Root element */
html {
    font-size: 13pt;
    line-height: 140%;
    overflow-y: scroll;
    background-color: #BFBFB7;
}

/* Sections */
body {
    position: relative;
    font-family: "Gentium Book Basic", serif;
    width: 1200px;
    margin: 0 auto;
    color: #333;
    background-color: #EFEFE7;
    padding-bottom: 20px;
}
section {}
nav {}
article {}
aside {
    position: absolute;
    width: 320px;
    font-size: 80%;
    background-color: #CCC;
}
h1 {
    font-size: 180%;
}
h2 {
    font-size: 140%;
    border-top: 4px solid #DDD;
    margin-top: .75em;
    padding-top: .75em;
}
h3 {
    font-size: 110%;
    margin-bottom: 0;
    padding-bottom: 0;
}
h4 {}
h5 {}
h6 {}
header {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #FFFFFF;
    border-bottom: 2px solid #999;
    width: 100%;
    height: 60px;
    z-index: 9999;
}
footer {
    position: relative;
    text-align: center;
    border-top: 4px solid rgb(13,136,76);
    padding: 24px 0 32px 0;
}
address {}
main {
    margin-top: 60px;
    padding-top: .25em;
    width: 840px;
    margin-left: 340px;
    margin-right: 20px;
}

/* Grouping content */
p {
    margin-top: 0.25em;
    margin-bottom: 0.75em;
}
hr {
    border-width: 0;
    height: 4px;
    color: #EFEFE7;
    background-color: #DDD;
}
pre {
    font-family: "Ubuntu Mono", "Andale Mono", monospace;
    font-size: 13px;
    background-color: #3F3F37;
    color: #EFEFE7;
    line-height: 140%;
    padding: 6px 8px 8px 8px;
    overflow-x: auto;
    border-radius: 5px;
}
blockquote {}
ol {}
ul {}
li {}
dl {}
dt {}
dd {}
figure {}
figcaption {}
div {}

/* Text-level semantics */
a {
    color: rgb(13,136,76);
    text-decoration: underline;
    /*text-shadow: 0 0 2px #18FF8F;*/
}
a:hover {
    text-decoration: underline;
}
em {}
strong {}
small {}
s {}
cite {}
q {}
dfn {}
abbr {}
data {}
time {}
code {
    font-family: "Ubuntu Mono", monospace;
}
var {}
samp {}
kbd {}
sub {}
sup {}
i {}
b {}
u {}
mark {}
ruby {}
rt {}
rp {}
bdi {}
bdo {}
span {}
br {}
wbr {}

/* Edits */
ins {}
del {}

/* Embedded content */
img {}
iframe {}
embed {}
object {}
param {}
video {}
audio {}
source {}
track {}
canvas {}
map {}
area {}
svg {}
math {}

/* Tabular data */
table {}
caption {}
colgroup {}
col {}
tbody {}
thead {}
tfoot {}
tr {}
td {}
th {}

/* Forms */
form {}
fieldset {}
legend {}
label {}
input {}
button {}
select {}
datalist {}
optgroup {}
option {}
textarea {}
keygen {}
output {}
progress {}
meter {}

/* Interactive elements */
details {}
summary {}
menuitem {}
menu {}

/* */
h1.menu {
    margin: 0;
    padding: .75em 20px;
    background-color: #999;
    font-size: 150%;
    color: #EFEFE7;
}
ul.menu {
    margin: 0;
    padding: 0;
}
ul.menu li {
    list-style: none;
    margin: 0;
    padding: .1em 20px;
}
ul.menu ul li {
    padding: .1em 20px .1em 40px;
}
ul.menu li a {
    display: block;
    text-decoration: none;
}
ul.menu li a:hover {
    font-weight: bold;
}
.contact {
    position: absolute;
    top: 32px;
    right: 0;
}
.contact img {
    margin-left: .5em;
}
.naked {
    margin: 0;
    border-width: 0;
    padding: 0;
}
header .content {
    margin: 0 auto;
    width: 1200px;
    height: 100%;
    position: relative;
    overflow: hidden;
}
header .content a.section {
    background-color: #999;
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    padding: .4em 20px;
    top: 0;
}

